@keyframes backgroundColorPalette {
    0% {
        background: #07004D;
    }
    25% {
        background: #2D82B7;
    }
    50% {
        background: #42E2B8;
    }
    75% {
        background: #F3DFBF;
    }
    100% {
        background: #EB8A90;
    }
}
body {
    animation-name: backgroundColorPalette;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

h1 {
    color: red;
    text-align: center;
}
h2 {
    color:crimson;
    text-align: center;
}
form {
    text-align: center;
}